__pycache__/
**/__pycache__/
*.py[cod]
.cache/
.pytest_cache/
.venv/
*.egg-info/
artifacts/
log/
logs/
runs/
saved_models/
checkpoints/
tensorboard/
models/*.pth
*.engine
*.h5
*.hdf5
*.sif
*.out
*.log
